* {
    box-sizing: border-box;
}

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

h1 {
    font-size: 6vw;
    flex: 1 1 auto;
}

h2 {
    font-size: 5vw;
    flex: 1 1 auto;
}

h3 {
    font-size: 4vw;
    flex: 1 1 auto;
}

h4 {
    font-size: 3vw;
    flex: 1 1 auto;
}

img {
    max-width: 100%;
    height: auto;
}

video {
    max-width: 100%;
    height: auto;
}

button {
    padding: 15px 25px;
    background-color: aquamarine;
    border: none;
    font-size: 20px;
    margin: 30px;
}

.header {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.display-random-recipe-data {
    flex: 1 1 auto;
}

.display-random-recipe-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;   

}

.display-random-recipe-column-left{
    flex: 35%;
}

.display-random-recipe-column-right{
    flex: 65%;
    padding-left: 1em;
}

@media only screen and (max-width: 600px) {
    .header, .display-random-recipe-column-left, .display-random-recipe-column-right {
        flex: 100%;
        max-width: 100%;   
    }

    .display-random-recipe-row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;   
    }
}




